
#numpad {
    width: 600px;
    margin:auto;
    margin-top:8px;
}

#numpad tr td {
    vertical-align:middle;
    text-align:center;
    border:1px solid #000000;
    font-size:48px;
    font-weight:bold;
    cursor:pointer;
    background-color:#666666;
    color:#ffffff;
}

#numpad tr td:hover {
    background-color:#999999;
    color:#FFFF00;
}

