
#numpad {
    margin:auto;
    border-spacing:5px;
    border-collapse: separate;
}

#numpad tr td {
    vertical-align:middle;
    text-align:center;
    border:5px solid #000000;
    font-size:72px;
    font-weight:bold;
    width:240px;
    height:120px;
    cursor:pointer;
    background-color:#808080;
    color:#ffffff;
}

#numpad tr td:hover {
    color:#000000;
    background-color:#FFCF8B;
}

#numpad tr td.hl {
    color:#000000;
    background-color:#FFCF8B;
}

