
#numpad {
    margin:auto;
    margin-top:8px;
}

#numpad tr td {
    vertical-align:middle;
    text-align:center;
    border:1px solid #000000;
    font-size:72px;
    font-weight:bold;
    width:240px;
    height:120px;
    cursor:pointer;
    background-color:#666666;
    color:#ffffff;
}

#numpad tr td:hover {
    background-color:#999999;
    color:#FFFF00;
}

#numpad tr td.hl {
    background-color:#999999;
    color:#FFFF00;
}

