
table {
    width: 100%;
    margin-left:auto;
    margin-right:auto;
}

td, th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

tr:hover {background-color: #ddd;}

tr.selected {
    border: 2px solid blue;
    background-color: #FFCF8B;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
    font-size:48px;
}

th.total {
    max-width: 30%;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
    font-size:48px;
}

td {
    font-size:48px;
}

input {
    width: 100%;
    font-size: 48px;
}

select {
    width: 100%;
    font-size: 48px;
}

.space {
    height: 10%;
}

.menubar {
    width: 100%;
    text-align: center;
    position: fixed;
    top: 90%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0.1);
}

.btn {
    min-width: 15%;
    background-color: #4682B4;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 64px;
    margin: 12px 12px;
    cursor: pointer;
}

.btnRecordEdit {
    min-width: 15%;
    background-color: #4682B4;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 48px;
    margin: 12px 12px;
    cursor: pointer;
}

.amount {
    text-align: right;
    padding: 8px;
}

.total {
    text-align: right;
    padding: 8px;
}

.right {
    text-align: right;
    padding: 8px;
}

.fixedTopRight {
    position: fixed;
    top:16px;
    right:16px;
    background-color: white;
}
